{% include "head.html" %}
<body>
  {% include "header.html" %}
  <script>
    function addDifficultWord(evt) {
      evt.target.style = "font-weight:bold;";
      const word = evt.target.innerText;
      const inputEl = document.getElementById("difficult-words-input");
      const existingWords = inputEl.value ? inputEl.value.split(", ") : [];

      // If there are existing words, append the new word with a ", " prefix.
      // Otherwise, just set it as the new word.
      const newWord = existingWords.length > 0 ? `, "${word}"` : `"${word}"`;

      // Append the new word to the textarea
      inputEl.value += newWord;
    }
    
    function validateInput() {
      const inputEl = document.getElementById("difficult-words-input");
      const words = inputEl.value.split(", ");

      for (let i = 0; i < words.length; i++) {
        let word = words[i].trim(); // Remove leading and trailing spaces
        
        if (!word.startsWith('"') || !word.endsWith('"')) {
          alert("All words/phrases should be enclosed in quotes.");
          return false; // Prevent form submission
        }

        // Check if the word is the last one; no need to look for a comma then
        if (i !== words.length - 1) {
          if (!inputEl.value.includes(`, `, words[i].length + i)) {
            alert("Words/phrases should be separated by a comma followed by a single space.");
            return false; // Prevent form submission
          }
        }
      }
      return true; // Allow form submission
    }

  </script>
  <main>
    <section class="difficult-words-section">
      <h2>Difficult words lesson module</h2>
      <hr />
      <div>
        <b>Sample text:</b>
        <br>
        Select which words are difficult. Click each word you would like to add.
        <br>
        <br>
        <div class="sample-text">
          {% for word in random_text.split() %}
          <span onClick="addDifficultWord(event)">{{ word }}</span>
          {% endfor %}
        </div>

        <hr>
        <b>Difficult words:</b>

        <div class="difficult-words-list">
          Previously difficult words:
          {{ difficult_words }}
        </div>

        <br>
        <form action="{{ url_for('difficult_words') }}" class="difficult-words-form" method="post" onsubmit="return validateInput()">
          <textarea class="large-text-input" id="difficult-words-input" name="difficult_words">{{ difficult_words }}</textarea>
          <button class="submit-button" type="submit">Submit new difficult words</button>
        </form>

        <hr>
        <b>Common themes:</b>
        <div class="analyzed-themes">{{ themes }}</div>

        <hr>
        <b>Detailed explanations:</b>
        <div class="theme-details">{{ theme_details }}</div>

        <hr>
        <b>New example paragraph:</b>
        <div class="generated-paragraph">{{ new_example }}</div>

        <hr>
        <b>Progressive text:</b>
        <div class="generated-paragraph">{{ progressive_text }}</div>
      </div>
    </section>
  </main>
</body>
