[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
flask-cors = "*"
openai = "*"
pyjwt = "*"
pylint = ">= 3.0.0a7" # Fix for annoying too-short snake_case variable length made it into alpha release. Have been waiting years for this https://github.com/pylint-dev/pylint/issues/2018#issuecomment-850122020.
python-dotenv = "*"
flask-login = "*"

[dev-packages]
pytest = "*"

[scripts]
cli = "python -m cli"
test = "python -m pytest"
lint = "pylint chispas tests"
