[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
flask-cors = "*"
openai = "*"
pyjwt = "*"
pylint = "*"
pylint-quotes = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[scripts]
cli = "python -m cli"
tests = "python -m pytest"
lints = "pylint chispas tests"
